<section>
  <div class="content">
    <div class="content-icon">
      <div class="grid text-center" style="--bs-columns: 3">
        <div>- Desenvolvido por @Cristijung/2023 -</div>
        <div>
          <a href="https://github.com/cristijung" target="_blank"
            ><i class="fa fa-github" aria-hidden="true"></i
          ></a>
        </div>
        <div>
          <a
            href="https://www.linkedin.com/in/m%C2%AA-cristina-jung-b61aa435/"
            target="_blank"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
        <div>
          <a href="https://www.instagram.com/jungcristina/" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
