<section class="container">
  <div class="container text-center share-menu menu">
    <div class="row">
      <div class="col-sm-1">
        <a href="https://www.facebook.com/sharer.php?u=https://dracula-curso-angular.vercel.app/home" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      </div>
      <div class="col-sm-1">
         <a href="https://x.com/share?url=https://dracula-curso-angular.vercel.app/home&text=Texto+do+tweet" target="_blank">
        <i class="fa fa-x"></i>
      </a>
      </div>
      <div class="col-sm-1">
        <a href="https://www.linkedin.com/shareArticle?url=https://dracula-curso-angular.vercel.app/home&title=Título+do+artigo" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      </div>
      <div class="col-sm-1">
        <a href="https://www.instagram.com/share?url=https://dracula-curso-angular.vercel.app/home" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>
</section>
