.share-menu {
  width: 100%;
  margin: auto;
  padding: 1%;
  background-color: var(--corpo-conteudo);
}

.menu a {
  color: var( --texto-link);
}

.menu a:hover
{
  color: var(--texto-hover-link);
}
