.content {
  max-width: 96%;
  margin: auto;
  padding: 1%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: var(--corpo-conteudo);
  color: var(--texto-conteudo);
  box-shadow: 2px 2px 2px 2px rgba(10, 0, 0, 0.2);
}


.gallery {
    border: var(--border-galeria) solid 1px;
    border-radius: 4px;
    padding: 1%;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    list-style: none;
}

.titulo {
  font-size: 32px;
  &:hover {
    color: var( --texto-principal-hover);
  }
  margin-bottom: 20px;
}

.texto {
  font-weight: 200;
  font-size: 18px;
}

