<section class="content">
  <span class="titulo">{{ title }}</span>
  <div class="texto">{{ dados.descricaoPersonagens }}</div>
  <hr />
  <div class="envelope">
    <div class="coluna">
      <span class="titulo"> {{ dados.nomeDracula }}</span>
      <p>{{ dados.descricaoDracula }}</p>
      <span class="titulo"> {{ dados.nomeMina }}</span>
      <p>{{ dados.descricaoMina }}</p>
      <span class="titulo"> {{ dados.nomeJonathan }}</span>
      <p>{{ dados.descricaoJonathan }}</p>
      <span class="titulo"> {{ dados.nomeLucy }}</span>
      <p>{{ dados.descricaoLucy }}</p>
      <span class="titulo"> {{ dados.nomeArthur }}</span>
      <p>{{ dados.descricaoArthur }}</p>
      <span class="titulo"> {{ dados.nomeCary }}</span>
      <p>{{ dados.descricaoCary }}</p>
    </div>

    <div class="coluna">
      <h3>{{ titled }}</h3>
      <!-- select para selecionar o nome do personagem -->
      <div class="envelope-img">
        <div class="linha">
          <!--two-way db-->
          <select [(ngModel)]="selectedPersonagem" class="form-control">
            <option value="">Clique para selecionar um personagem</option>
            <option
              *ngFor="let personagem of personagens"
              [value]="personagem.nome"
            >
              {{ personagem.nome }}
            </option>
          </select>
        </div>
        <div class="linha">
          <!-- Usando ngIf para exibir a imagem se o nome do personagem for válido -->
          <img
            *ngIf="getImagemUrl()"
            [src]="getImagemUrl()"
            alt="Imagem do personagem"
            width="300"
          />
        </div>
      </div>
    </div>
  </div>
</section>
