<section class="conteudo">
  <div class="content-home barra">
    <div class="container text-center">
      <div class="row">
        <div class="col-12">{{ title }}</div>
      </div>
      <div class="row">
        <div class="col-12"><img [src]="url" [alt]="alt" /></div>
      </div>
      <div class="row">
        <div class="col-12"><app-share-menu></app-share-menu></div>
      </div>
      <div class="row">
        <div class="col-4 text-center" style="padding-top: 10px;">
          <img [src]="image" [alt]="alt" class="imagem" />
        </div>
        <div class="col-8" style="padding-top: 10px;">
          <h2>{{ dados.title }}</h2>
          <p style="text-align: left">{{ dados.description }}</p>
          <p>{{ dados.direcao }}</p>
          <p>{{ dados.roteiro }}</p>
          <p>{{ dados.elenco }}</p>
          <p>{{ dados.ano }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
