/* Esquema de cores */

:root {
  --fundo-body: #000;
  --fundo-content: #800000;
  --fundo-header: 	#6b0f08;
  --fundo-footer: #a30606;
  --texto-principal: #fff;
  --texto-principal-hover: #ccc;
  --titulo-header: #FFF5EE;
  --stitulo-header: #d3989d;
  --color-border: #130101;
  --corpo-conteudo: #0D0D0D;
  --texto-conteudo: #FFF5EE;
  --barra-rolar: #6b0f08;
  --barra-rolar-claro: #a30606;
  --texto-link: #fff;
  --texto-hover-link: #fff5ee;
  --border-galeria: #363636;
}

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--fundo-body);
}

.containeer {
  max-width: 95%;
  margin: auto;
  background-color: var(--fundo-content);
  color: var(--texto-principal);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.conteudo {
  max-width: 96%;
  height: 150vh;
  margin: auto;
  padding: 1%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: var(--corpo-conteudo);
  color: var(--texto-conteudo);
  box-shadow: 2px 2px 2px 2px rgba(10, 0, 0, 0.2);
}

.titulo {
  font-size: 32px;
  &:hover {
    color: var( --texto-principal-hover);
  }
  margin-bottom: 20px;
}

.texto {
  font-weight: 200;
  font-size: 18px;
  text-align: left;
  padding-top: 10px;
}
